.DS_Store
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# exclude specific modules
/node_modules/.bin
/node_modules/.cache
/node_modules/.vite
/node_modules/@iarna
/node_modules/@rollup
/node_modules/@sveltejs
/node_modules/anymatch
/node_modules/asynckit
/node_modules/axios
/node_modules/binary-extensions
/node_modules/braces
/node_modules/chokidar
/node_modules/combined-stream
/node_modules/debug
/node_modules/delayed-stream
/node_modules/esbuild
/node_modules/esbuild-windows-64
/node_modules/estree-walker
/node_modules/fill-range
/node_modules/follow-redirects
/node_modules/form-data
/node_modules/function-bind
/node_modules/glob-parent
/node_modules/globalyzer
/node_modules/globrex
/node_modules/has
/node_modules/immutable
/node_modules/is-binary-path
/node_modules/is-core-module
/node_modules/is-extglob
/node_modules/is-glob
/node_modules/is-number
/node_modules/isarray
/node_modules/kleur
/node_modules/magic-string
/node_modules/mime-db
/node_modules/mime-types
/node_modules/mri
/node_modules/mrmime
/node_modules/ms
/node_modules/nanoid
/node_modules/normalize-path
/node_modules/number-to-words
/node_modules/page
/node_modules/path-parse
/node_modules/path-to-regexp
/node_modules/picocolors
/node_modules/picomatch
/node_modules/postcss
/node_modules/readdirp
/node_modules/regexparam
/node_modules/resolve
/node_modules/rollup
/node_modules/sade
/node_modules/sass
/node_modules/source-map-js
/node_modules/sourcemap-codec
/node_modules/supports-preserve-symlinks-flag
/node_modules/svelte
/node_modules/svelte-hmr
/node_modules/svelte-icons
/node_modules/tiny-glob
/node_modules/to-regex-range
/node_modules/vite
/node_modules/worktop
.vercel
